@import './bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,700');
$color: #9b8d84;
body,
html {
      padding: 0;
      margin: 0;
      font-family: 'Work Sans';
      background: #000000;
      color: #f5f5f5;
}
h1,h2,h3,h4,h5,h6{
      font-family: 'Noto Serif TC';
      font-weight: 700;
}
h2{
      text-align: center;
      font-size: 3em;
      color: $color;
}
.navbar{
      background: rgba($color: #212121, $alpha: 0.75);

}
.container-fluid {
      min-height: 100vh;
}
.navbar-toggler{
      margin:0  30px;
      padding: 0;
      span{
            display: block;
            margin: 5px 0;
            width: 45px;
            height: 2px;
            background: $color;
            &:nth-child(2){
                  width: 30px;
            }
      }
}
.navbar-nav{
      li{
            a{
                  color: #f4f4f4;
                  transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                  text-transform: uppercase;
                  letter-spacing: 1.2px;
                  margin: 0 1em;
                  font-weight: 700;
                  &:hover{
                        color: $color;
                  }
            }
      }
}
.bg
{
      width: 100%;
      height:100%;
      background-image: url('./bg.jpg');
      background-attachment: fixed;
      position: fixed;
      opacity: 0.1;

}
.hero{
      background: transparent;
      position: relative;
      .bg-overlay{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left:0;
            opacity: 0.1;
            z-index: -1;
      }
      p{
            color: $color;
      }
}
.about {
      .container-fluid {
            .row {
                  .col-md-8 {
                        img {
                              width: 100%;
                              object-fit: cover;
                        }
                  }
            }

            .col-md-4 {
                  margin-left: -100px;
                  h2 {
                        font-size: 3.5rem;

                  }
            }
      }
}
.services{
      .container{
            .service{
                  min-height: 50vh;
                  .col-md-4{
                        width: 18rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .card{
                              background: transparent;
                              .card-img-top{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 1em;
                                    img{
                                        width:100%;
                                         
      
                                    }
                              }
                              .card-body{
                                    h4{
                                          text-align: center;
                                    }
                              }
                        }
                  }
            }
            .pricing{
                  min-height: 50vh;
                  margin: 50px 0;
                  .col-md-6{
                        .price{
                              .price-header{
                                    color: #f5f5f5;
                                    border-bottom: 1px dashed $color;
                                    h3{
                                          font-weight: 400;
                                          font-size: 1.6em;
                                    }
                                    span{
                                          font-size: 1.8em;
                                          color: $color;
                                          font-weight: bold;
                                    }
                              }
                              .desc{
                                    color: #9c9c9c;
                              }
                        }
                  }
            }
      }
}

ul{
      list-style-type: none;
}

.hours{
      min-height: 35vh;
      margin-bottom: 100px;
      .container{
            //background: #9c9c9c;
            h2{
                font-size: 2.5em;
                margin-bottom: 1em;
                
            }
            .times{
                  h3{
                        margin: 0em 0;
                        font-size: 1.2em;
                  }
                  p{
                        color: $color;
                        font-size: 1em;
                  }
            }
            .reserve{
                  .form{
                        .form-row{
                              margin: 12px 0;
                              .form-control{
                                    border: 2px solid $color;
                                    background: none;
                                    border-radius: 0;
                                    color: #f5f5f5;
                                    
                              }
                              .col-md-4, .col-md-8{
                                    margin: 12px 0;
                              }
                              button{
                                    border: none;
                                    width: 100%;
                                    height: 100%;
                                    background: $color;
                                    color: #000000;
                                    cursor: pointer;
                              }
                        }
                  }
            }
      }
}

.gallery{
      .container{
            .row{
                  .col-md-4, .col-md-6, .col-md-8{
                        margin: 15px 0;
                        img{
                              width: 100%;
                        }
                  }
            }
      }
}




.contact{
      .container{
            .row{
                  .col-md-4{
                        h4{
                              font-size: 1em;
                              color: $color;
                        }
                  }
            }
           .welcome{
                 padding: 2em 0;
           }
            .form{
                  
                  .form-row{
                        margin: 12px 0;
                        .form-control{
                              background: none;
                              border: 2px solid $color;
                              border-radius: 0;
                              margin: 6px;
                        }
                        button{
                              color: #000000;
                              background: $color;
                              border: none;
                              padding: 6px 10px;
                        }
                  }
            }
      }
}



footer
{
      height: 100px;
      text-align: center;
       background: rgba($color: #212121, $alpha: 0.75);
       display: flex;
       align-items: center;
       text-align: center;
       a{
             color: $color;
       }
}




//Media Queries
@media screen and (max-width: 800px){
      .about{
            .container-fluid{
                  
                  .row{
                        .col-md-4{
                              order: 1;
                              margin-left: 0;
                        }
                  }
            }
      }
}